*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    
    /* font-family: 'Oswald', sans-serif; */
    text-decoration: none;
}
/* body{
    overflow: hidden;
} */

.navBar {
    opacity: 90%;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 10vh;
    background: url('img/bg-img.jpg');
    background-size: cover;
    background-position: center;
}